<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956728090370-s2hs4n1tju6acmfakb3r1npvobujm8r1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956728090370-s2hs4n1tju6acmfakb3r1npvobujm8r1</string>
	<key>API_KEY</key>
	<string>AIzaSyCLTw4u-m2wNme4V5M7gKzrAJ7_qgMc5wU</string>
	<key>GCM_SENDER_ID</key>
	<string>956728090370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-a82c6</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-a82c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956728090370:ios:cf8e73fa9585824668ec1b</string>
</dict>
</plist>